---
title: "Testing and Verification: Introduction"
teaching: 30
exercises: 30
questions:
- "Key question (FIXME)"
objectives:
- "First learning objective. (FIXME)"
keypoints:
- "First key point. Brief Answer to questions. (FIXME)"
---
**Ep 1: Introduction**
- Motivating examples illustrating importance of testing

{% include links.md %}
